<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <?parse('header.html')?>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Order List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.0/css/bulma.min.css">
</head>
<body>
    <?parse('navbar.html')?>
     <nav class="breadcrumb ml-5" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li class="is-active"><a href="#">Sales Orders</a></li>
      </ul>
    </nav>
    <section class="section is-fullwidth">
        <div class="container is-fullwidth">
            <h1 class="title">Sales Order List</h1>
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Your Reference</th>
                        <th>Ship-to Name</th>
                        <th>Ship-to Address</th>
                        <th>Ship-to City</th>
                        <th>Order Date</th>
                        <th>Shipment Date</th>
                        <th>Payment Terms Code</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    <?open("Sales Header")?>
                    <?filter("Sales Header","Document Type",1)?>
                    <?loop("Sales Header",'-')?>
                    <tr>
                        <td><a href="<?action('salesorder',36)?>"><?field("Sales Header","No.")?></a></td>
                        <td><?field("Sales Header","Your Reference")?></td>
                        <td><?field("Sales Header","Ship-to Name")?></td>
                        <td><?field("Sales Header","Ship-to Address")?></td>
                        <td><?field("Sales Header","Ship-to City")?></td>
                        <td><?field("Sales Header","Order Date")?></td>
                        <td><?field("Sales Header","Shipment Date")?></td>
                        <td><?field("Sales Header","Payment Terms Code")?></td>
                        <td><?field("Sales Header","Due Date")?></td>
                    </tr>
                    <?loopend("Sales Header",1,20)?>
                    <?close("Sales Header")?>
                </tbody>
            </table>
        </div>
    </section>
    <?parse('footer.html')?>
</body>
</html>
